exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "bxp", "curve", "legend", "lines", "par", "rug", "title")
importFrom("stats", "IQR", "approx", "approxfun", "bw.SJ", "bw.bcv", "bw.nrd", "bw.nrd0", "bw.ucv", "density", "integrate", "knots", "nobs", "optimize", "plot.stepfun", "quantile", "stepfun")
importFrom("stats",
    "dbeta", "dcauchy", "dchisq", "dexp", "dgamma", "dlnorm", "dlogis", "dnorm", "dt", "dunif", "dweibull",
    "pbeta", "pnorm",
    "qbeta", "qcauchy", "qchisq", "qexp", "qf", "qgamma", "qlnorm", "qlogis", "qnorm", "qt", "qunif", "qweibull",
    "rbeta", "rcauchy", "rchisq", "rexp", "rf", "rgamma", "rlnorm", "rlogis", "rmultinom", "rnorm", "rt", "runif", "rweibull"
)
importFrom("KScorrect", "dmixnorm", "pmixnorm", "qmixnorm")
importFrom("evmix", "check.inputn", "check.n", "check.posparam", "dmgamma", "pmgamma", "qmgamma")
importFrom(Rdpack, reprompt)
importFrom(latex2exp, TeX)
importFrom("utils", "tail")
importFrom("bayesmeta", "convolve")
importFrom("progress", "progress_bar")
importFrom(Rcpp, evalCpp)
export(
    "bw.F.BD",
    "bw.F.SBC.cv",
    "bw.F.SBC.pi",
    "bw.F.SBC.rt",
    "bw.f.BGM.boot1",
    "bw.f.BGM.boot2",
    "bw.f.BGM.cv",
    "bw.f.BGM.rt",
    "cdf.bd",
    "cdf.cox",
    "df.bhatta",
    "df.jones",
    "rbiased"
)